@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

html, body {
    font-family: 'Work Sans', sans-serif;
}

.wide-container {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.wide {
    width: 80vw;
    margin: 50px 10vw;
}

